<div class="flex flex-col items-center justify-center pt-10 mx-auto">
  <div class="max-w-lg rounded overflow-hidden shadow-lg bg-white w-full">
    <div id="top-kills" style="text-align:center" class="p-6">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
        [dataLabels]="chartOptions.dataLabels"
      ></apx-chart>
    </div>
  </div>
  <div class="max-w-lg rounded overflow-hidden shadow-lg bg-white w-full mt-8">
    <div id="top-methods" style="text-align:center" class="p-6">
      <apx-chart
        [series]="chartOptions_2.series"
        [chart]="chartOptions_2.chart"
        [xaxis]="chartOptions_2.xaxis"
        [stroke]="chartOptions_2.stroke"
        [colors]="chartOptions_2.colors"
        [dataLabels]="chartOptions_2.dataLabels"
        [tooltip]="chartOptions_2.tooltip"
        [plotOptions]="chartOptions_2.plotOptions"
        [markers]="chartOptions_2.markers"
        [yaxis]="chartOptions_2.yaxis"
        [fill]="chartOptions_2.fill"
        [title]="chartOptions_2.title"
      ></apx-chart>
    </div>
  </div>
  <div class="max-w-lg rounded overflow-hidden shadow-lg bg-white w-full mt-8">
    <div id="kills per series and season" style="text-align:center" class="p-6">
      <apx-chart
        [series]="chartOptions_3.series"
        [chart]="chartOptions_3.chart"
        [dataLabels]="chartOptions_3.dataLabels"
        [plotOptions]="chartOptions_3.plotOptions"
        [title]="chartOptions_3.title"
        [legend]="chartOptions_3.legend"
      ></apx-chart>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
